# ========================
# PYTHON / DJANGO
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Django
db.sqlite3
media/
staticfiles/

# ========================
# ENVIRONMENT
# ========================
env/
env311/
venv/
.venv/

# ========================
# NODE / REACT
# ========================
node_modules/
build/
dist/

# ========================
# ML FILES (BERAT)
# ========================
ml/model/
ml/saved_model/
ml/results/
ml/dataset/

# ========================
# NOTEBOOK
# ========================
.ipynb_checkpoints/

# ========================
# ENV FILE (RAHASIA)
# ========================
.env

# ========================
# VS CODE / EDITOR
# ========================
.vscode/
.idea/

# ========================
# LOG FILES
# ========================
*.log

# ========================
# OS FILES
# ========================
.DS_Store
Thumbs.db