#ml
torch
transformers
datasets
scikit-learn
pandas
numpy
tqdm
#backend
django==4.2
requests
djangorestframework>=3.14
djangorestframework-simplejwt>=5.3
psycopg2-binary
python-dotenv
django-cors-headers
drf-yasg